body {
    font-family: 'Helvetica', Verdana, Geneva, Tahoma, sans-serif;
    width: 960px;
    margin:auto;
    line-height: 1.5em;
}

figure {
    margin:0px;
}

.code-block {
    font-family: 'Consolas', monospace;
    padding: 10px 10px 10px 10px;
    background-color: #eee;
    border-radius: 5px;
    display:block;
}

.styledchart {
    --charty-axis-color: #f00;
    height: 400px;
    width: 400px;
}

charty-pointchart {
    height: 400px;
}